.channel-card {
    background-color: #fafbff47 !important;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: transparent;
    height: 15vh;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

